.about {
  padding: 20px;
  background-color: #011627;
  position: relative;
}
.active {
  transition: 0.5s;
  opacity: 100%;
}
.about__landscape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.about__row {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.about__mainTitles {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
}

.about__mainTitles h2 {
  font-family: "Noe Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.about__mainTitles h4 {
  width: 349px;
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.about__swipline {
  display: flex;
  margin-top: 83px;
}
.about__swipline_chill {
  width: 25%;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.5;
  border-bottom: 5px #41ead4 solid;
  opacity: 0.3;
  padding-bottom: 37px;
  transition: 0.5s;
}
.about__swipline_chill:hover {
  transition: 0.5s;
  opacity: 100%;
  cursor: pointer;
}

.active{
  transition: 0.5s;
  opacity: 100%;
}
.swiper__img {
  width: 486px;
  height: 607px;
  position: relative;
}
.swiper__buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about__landscape_middle-title {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: relative;
}
.about__landscape_middle-subtitle {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about__landscapes_right-title {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #ffffff;
  white-space: nowrap;
}
.about__landscape_right {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.about__landscapes_right-networks {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  column-gap: 23px;
  position: relative;
}
.social__line {
  position: absolute;
  top: 50%;
  z-index: 0;
}
.about__landscape_middle {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  padding-left: 126px;
  align-items: start;
}
.about__landscape_left {
  position: relative;
}
.about__dots {
  position: absolute;
  left: -55px;
  bottom: -55px;
}
.about__landscape_left-titleandnumder {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: -92px;
}
.about__landscape_left-titleandnumder h2 {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #41ead4;
}
.about__landscape_left-titleandnumder span {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #ffffff;
  margin-top: 12px;
}
