.footer {
  background-color: #011627;
  padding: 97px 0 150px;
}

.footer__row_top {
  display: flex;
  justify-content: center;
}
.footer__row_top ul {
  list-style-type: none;
}
.footer__row_mid {
  display: flex;
  justify-content: center;
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 70px;
}
.footer__row_bottom {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 190%;
  color: #ffffff;
  margin-top: 50px;
}

.footer__row_top-title {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__row_top li {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}

.footer__row_top ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  margin-right: 125px;
}
.end{
    margin-right: 41px;
}
.end__icons{
    display: flex;
    column-gap: 27px;
}