.home__foot {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 192px;
    align-items: center;
}

.home__foot_right {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.home__foot_left {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
}

.home__foot .rotate {
    font-family: Larsseit, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 190%;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.9;
    transform: rotate(-90deg);
}

