.seeyou {
  background: #011627;
}
.seeyou__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seeyou__row h2 {
  font-family: "Noe Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.seeyou__row span {
  font-family: "Larsseit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
.seeyou__row img{
    margin-top: 108px;
}